[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
django-storages = {extras = ["s3"], version = "*"}
django-filter = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.13"
